body {
	margin: 0px;
	font-family: 'Open Sans', arial, sans-serif;
	background-color: #f9f9f9;
	text-align: center;
}

nav {
	background-color: #2d5be3;
	color: #fff;
}

div {
	/*border: 1px solid black;*/
}

form {
	padding: 2% 5% 5%;
}

#mobile-input {
	width: 70%;
	float: left;
}

#mobile-submit {
	width: 27%;
	margin-left: 3%;
	float: left;
}

.search-container {
	background-color: #2d5be3;
}


#tempResults {
	border: 1px solid green;
	-webkit-transition:all linear 0.5s;
	transition:all linear 0.5s;
}
#tempResults.ng-hide {
	opacity:0;
}

.restaurant:after {
	content: " ";
    display: block;
    height: 0;
    clear: both;
}

.restaurant {
	border: 1px solid black;
	border-radius: 5px;
	margin: 1.5% 1%;
}

.restaurant img {
	width: 18%;
	margin: 1%;
	float: left;
	border-radius: 5px;
}

.restaurant-info {
	float: left;
	width: 80%;
}

.restaurant h4 {
	text-align: left;
	font-weight: 600;
	margin: 1% 0%;
}

.restaurant p {
	text-align: left;
	margin: 0%;
	float: left;
	clear: both;
}

.restaurant-phone {
}

.yelpRating {
	text-align: center;
	background-color: #c41200;
	font-weight: bold;
	color: #fff;
	font-size: 12px;
	padding: 5px 0px;
	border-radius: 3px;
	width: 45px;
	float: right;
	margin: 0px 5px 0px 0px;
}

.yelpRating:hover {
	background-color: #890c00;
}

.foursquareRating {
	text-align: center;
	background-color: #00B551;
	font-weight: bold;
	color: #fff;
	font-size: 12px;
	padding: 5px 0px;
	border-radius: 3px;
	width: 45px;
	float: right;
	margin: 0px 0px 0px;
}

.foursquareRating:hover {
	background-color: #007e38;
}

.fa-yelp, .fa-foursquare {
	margin-left: 5px;
}