body {
	margin: 0px;
	font-family: 'Open Sans', arial, sans-serif;
	background-color: #f9f9f9;
	text-align: center;
}

div {
	border: 1px solid black;
}

form {
	padding: 5%;
}

#mobile-input {
	width: 70%;
	float: left;
}

#mobile-submit {
	width: 30%;
	float: left;
}