<nav>
	ResList
</nav>
<div class="container-fluid">
	<div class="row search-container">
		<form class="form-inline" ng-submit="addRestaurant( searchValue )">
		  <div class="form-group" id="mobile-input">
		    <input type="text" class="form-control" ng-model="searchValue" placeholder="Add Restaurant...">
		  </div>
		  <button type="submit" class="btn btn-default" id="mobile-submit">Search</button>
		</form>
	</div>
	<div class="row" id="tempResults" ng-show="tempResults.length > 0">
		<span>Click on the best match?</span>
		<div class="restaurant" ng-repeat="res in tempResults" ng-click="selectRestaurant( res ) ">
			<img ng-src="{{ res.y.image }}" />
			<div class="restaurant-info">
				<h4>{{ res.f.name }}</h4>
				<p>{{ res.y.address }}</p>
				<p class="restaurant-phone">{{ res.y.phone }}</p>
				<a ng-href="{{ res.y.url }}">
					<div class="yelpRating">{{ res.y.rating }}<i class="fa fa-yelp"></i></div>
				</a>
				<a ng-href="{{ res.f.url }}" ng-show="res.f.rating">
					<div class="foursquareRating">{{ res.f.rating }}<i class="fa fa-foursquare"></i></div>
				</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="restaurant" ng-repeat="res in resList" ng-hide="tempResults.length > 0">
			<img ng-src="{{ res.y.image }}" />
			<div class="restaurant-info">
				<h4>{{ res.f.name }}</h4>
				<p>{{ res.y.address }}</p>
				<p class="restaurant-phone">{{ res.y.phone }}</p>
				<a ng-href="{{ res.y.url }}">
					<div class="yelpRating">{{ res.y.rating }}<i class="fa fa-yelp"></i></div>
				</a>
				<a ng-href="{{ res.f.url }}" ng-show="res.f.rating">
					<div class="foursquareRating">{{ res.f.rating }}<i class="fa fa-foursquare"></i></div>
				</a>
			</div>
		</div>
	</div>
</div>